@use 'variables' as var;

@mixin brand-logo {
	font-size: 1.7rem;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

@mixin gradient-top-bottom {
  background: linear-gradient(var.$light-blue, var.$dark-blue);
}

@mixin gradient-bottom-top {
  background: linear-gradient(var.$dark-blue, var.$light-blue);
}

@mixin box-shadow($xOffset, $yOffset, $blur, $spread, $color) {
	box-shadow: $xOffset $yOffset $blur $spread $color;
}

@mixin triangle-up($xMeasurement, $yMeasurement) {
	clip-path: polygon($xMeasurement 0, 0 $yMeasurement, 100% 100%);
}

@mixin triangle-down($xMeasurement, $yMeasurement) {
	clip-path: polygon($xMeasurement 0, $yMeasurement 0, 50% 100%);
}

@mixin triangle-right {
	clip-path: polygon(0 0, 0 100%, 100% 50%);
}

@mixin product-title-icon($xPost, $yPost, $width, $height) {
	content: '';
	background: var.$white;
	width: $width;
	height: $height;
	position: absolute;
	left: $xPost;
	top: $yPost;
}

@mixin header-title {
	font-size: 3.5rem;
  font-weight: 400;
}

@mixin subheader-info {
	font-size: 1.5rem;
	margin-top: 10px;
	font-weight: lighter;
}