@use 'abstracts' as var;
@use 'sections';

.bg-gradient-down {
  @include var.gradient-top-bottom;
  overflow: hidden;
}

.btn-pill {
  border-radius: 20px;
}

.btn-light {
  color: var.$dark-blue;
}

.header {
  position: relative;
  
  nav {
    z-index: 2;
  }
  
  .header-info {
    padding-top: 8rem;
    padding-bottom: 10rem;
    z-index: 2;
    position: relative;
    width: 50%;
    color: var.$white;

    h1 {
      @include var.header-title;
    }
    
    .subheader {
      @include var.subheader-info;
    }

    .header-testimonial {
      margin-top: 50px;
      width: 70%;

      p {
        font-weight: bold;
      }

      .testimonial-info {
        margin-top: 40px;
        margin-left: 70px;
        position: relative;

        &::before {
          content: 'JS';
          background: var.$white;
          color: var.$light-blue;
          font-size: 1.2rem;
          padding: 10px 15px;
          border-radius: 50%;
          position: absolute;
          left: -70px;
          top: 0;
        }


        span {
          display: block;
        }

        .name {
          text-transform: uppercase;
        }
      }
    }
  }

  .header-img {
    overflow: hidden;
    @include var.triangle-down(75%, 25%);
    position: absolute;
    right: -35rem;
    top: 0;
    z-index: 1;
  }
}
