@use 'abstracts' as var;
@use 'sections';

.bg-gradient-down {
  @include var.gradient-top-bottom;
  overflow: hidden;
}

.btn-pill {
  border-radius: 20px;
}

.btn-light {
  color: var.$dark-blue;

  &:hover {
    color: var.$dark-blue;
  }
}

.btn-outline-light:hover {
  color: var.$dark-blue;
}

.header {
  position: relative;
  
  nav {
    z-index: 3;

    .navbar-brand {
      @include var.brand-logo;
    }

    .nav-item {
      @include var.media-breakpoint-between(lg, xl) {
        font-size: 0.8rem;
      }

      & + .nav-item {
        margin-left: 2rem;
  
        @include var.media-breakpoint-between(lg, xl) {
          margin-left: .5rem;
        }

        @include var.media-breakpoint-down(lg) {
          margin-left: 0;
        }
      }
    }
    
    .nav-link {
      color: var.$white
    }

    .btn-search {
      background: transparent;
      border: 0;
      padding: 0;
      margin: 0;
      margin-left: 5px;

      svg {
        height: 30px;
        width: 30px;

        path {
          fill: var.$white;
        }
      }
    }

    &.show-navbar-collapse {
      .navbar-collapse {

        @include var.media-breakpoint-down(lg) {
          position: fixed;
          top: 60px;
          left: 0;
          width: 100vw;
          padding: 20px 13%;
          background-color: var.$dark-blue;
        }

        @include var.media-breakpoint-down(sm) {
          padding: 20px 5%;
        }
      }
    }
  }
  
  .header-info {
    padding-top: 8rem;
    padding-bottom: 10rem;
    z-index: 2;
    position: relative;
    width: 50%;
    color: var.$white;

    h1 {
      @include var.header-title;

      @include var.media-breakpoint-down(md) {
        font-size: 2.5rem
      }
    }
    
    .subheader {
      @include var.subheader-info;
      @include var.media-breakpoint-down(md) {
        font-size: 1.2rem
      }
    }

    .header-testimonial {
      margin-top: 50px;
      width: 70%;

      p {
        font-weight: bold;
      }

      .testimonial-info {
        margin-top: 40px;
        margin-left: 70px;
        position: relative;

        &::before {
          content: 'JS';
          background: var.$white;
          color: var.$light-blue;
          font-size: 1.2rem;
          padding: 10px 15px;
          border-radius: 50%;
          position: absolute;
          left: -70px;
          top: 0;
        }


        span {
          display: block;
        }

        .name {
          text-transform: uppercase;
        }
      }
    }

    @include var.media-breakpoint-down(md) {
      width: 70%;
    }

    @include var.media-breakpoint-down(sm) {
      width: 85%;
    }
  }

  .header-img {
    overflow: hidden;
    @include var.triangle-down(75%, 25%);
    position: absolute;
    right: -35rem;
    top: 0;
    z-index: 1;

    @include var.media-breakpoint-down(md) {
      right: -45rem;
    }

    @include var.media-breakpoint-down(sm) {
      right: -35rem;
    }
  }
}
