.products {
  padding: 15rem 0 7rem 0;
  color: #fff;
}
@media (max-width: 991px) {
  .products {
    padding: 1rem 0 7rem;
  }
}
@media (max-width: 767px) {
  .products {
    padding: 12rem 0 3rem;
  }
}
.products .product {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .products .product {
    margin-bottom: 40px;
  }
}
.products .product-img img {
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #0075c5;
}
.products .product-title {
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
@media (max-width: 1199px) {
  .products .product-title {
    font-size: 2.5rem;
  }
}
@media (max-width: 991px) {
  .products .product-title {
    font-size: 1.5rem;
  }
}
.products .product-title.first::before {
  content: "";
  background: #fff;
  width: 20px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 15px;
  -webkit-clip-path: polygon(100% 0, 0% 0, 50% 100%);
          clip-path: polygon(100% 0, 0% 0, 50% 100%);
}
@media (max-width: 1199px) {
  .products .product-title.first::before {
    content: "";
    background: #fff;
    width: 15px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 10px;
  }
}
@media (max-width: 991px) {
  .products .product-title.first::before {
    content: "";
    background: #fff;
    width: 10px;
    height: 15px;
    position: absolute;
    left: 20px;
    top: 5px;
  }
}
.products .product-title.first::after {
  content: "";
  background: #fff;
  width: 20px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 55px;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
          clip-path: polygon(50% 0, 0 100%, 100% 100%);
}
@media (max-width: 1199px) {
  .products .product-title.first::after {
    content: "";
    background: #fff;
    width: 15px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 35px;
  }
}
@media (max-width: 991px) {
  .products .product-title.first::after {
    content: "";
    background: #fff;
    width: 10px;
    height: 15px;
    position: absolute;
    left: 20px;
    top: 25px;
  }
}
.products .product-title.second::before {
  content: "";
  background: #fff;
  width: 30px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: 20px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
          clip-path: polygon(0 0, 0 100%, 100% 50%);
}
@media (max-width: 1199px) {
  .products .product-title.second::before {
    content: "";
    background: #fff;
    width: 20px;
    height: 15px;
    position: absolute;
    left: 20px;
    top: 15px;
  }
}
@media (max-width: 991px) {
  .products .product-title.second::before {
    content: "";
    background: #fff;
    width: 15px;
    height: 10px;
    position: absolute;
    left: 20px;
    top: 5px;
  }
}
.products .product-title.second::after {
  content: "";
  background: #fff;
  width: 30px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: 50px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
          clip-path: polygon(0 0, 0 100%, 100% 50%);
}
@media (max-width: 1199px) {
  .products .product-title.second::after {
    content: "";
    background: #fff;
    width: 20px;
    height: 15px;
    position: absolute;
    left: 20px;
    top: 35px;
  }
}
@media (max-width: 991px) {
  .products .product-title.second::after {
    content: "";
    background: #fff;
    width: 15px;
    height: 10px;
    position: absolute;
    left: 20px;
    top: 25px;
  }
}
.products .product-title.third::before {
  content: "";
  background: #fff;
  width: 20px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 35px;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
          clip-path: polygon(50% 0, 0 100%, 100% 100%);
}
@media (max-width: 1199px) {
  .products .product-title.third::before {
    content: "";
    background: #fff;
    width: 15px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 20px;
  }
}
@media (max-width: 991px) {
  .products .product-title.third::before {
    content: "";
    background: #fff;
    width: 10px;
    height: 15px;
    position: absolute;
    left: 15px;
    top: 15px;
  }
}
.products .product-title.third::after {
  content: "";
  background: #fff;
  width: 20px;
  height: 30px;
  position: absolute;
  left: 25px;
  top: 35px;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
          clip-path: polygon(50% 0, 0 100%, 100% 100%);
}
@media (max-width: 1199px) {
  .products .product-title.third::after {
    content: "";
    background: #fff;
    width: 15px;
    height: 20px;
    position: absolute;
    left: 30px;
    top: 20px;
  }
}
@media (max-width: 991px) {
  .products .product-title.third::after {
    content: "";
    background: #fff;
    width: 10px;
    height: 15px;
    position: absolute;
    left: 30px;
    top: 15px;
  }
}
.products .product-description {
  font-size: 1.5rem;
  font-weight: lighter;
}
@media (max-width: 991px) {
  .products .product-description {
    font-size: 1rem;
  }
}
.products .product-cta {
  margin-top: 50px;
}
.products .product-cta .btn {
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 10px;
}
@media (max-width: 991px) {
  .products .product-cta .btn {
    font-size: 0.7rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 5px;
  }
}
@media (max-width: 991px) {
  .products .product-cta {
    margin-top: 20px;
  }
}

.testimonials {
  padding-bottom: 10rem;
  position: relative;
}
.testimonials .testimonial-info {
  color: #fff;
}
.testimonials .testimonial-info h2 {
  font-weight: 300;
  font-size: 7rem;
  margin-bottom: 0;
  line-height: 1;
}
.testimonials .testimonial-info .subheader {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: lighter;
  margin-top: 0;
}
.testimonials .testimonial-info .description {
  margin-top: 40px;
  font-weight: bold;
}
.testimonials .testimonial-carousel {
  position: relative;
}
@media (max-width: 767px) {
  .testimonials .testimonial-carousel {
    margin-top: 30px;
    height: 300px;
  }
}
.testimonials #testimonialList {
  display: flex;
  position: absolute;
  transition: left 0.3s;
  left: 0;
}
.testimonials #testimonialList.active-0 {
  left: 0;
}
.testimonials #testimonialList.active-1 {
  left: -370px;
}
.testimonials #testimonialList.active-1 .testimonial-card:nth-child(1) {
  opacity: 0;
}
.testimonials #testimonialList.active-2 {
  left: -740px;
}
.testimonials #testimonialList.active-2 .testimonial-card:nth-child(1),
.testimonials #testimonialList.active-2 .testimonial-card:nth-child(2) {
  opacity: 0;
}
.testimonials #testimonialList .testimonial-card {
  padding: 2rem;
  border-radius: 10px;
  width: 350px;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.3);
  transition: opacity 0.3s;
}
.testimonials #testimonialList .testimonial-card.active {
  background: #fff;
}
.testimonials #testimonialList .testimonial-card .testimonial-badge {
  border: 1px solid #0075c5;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
}
.testimonials #testimonialList .testimonial-card .testimonial-badge::after {
  position: absolute;
  content: '"';
  color: #0075c5;
  font-size: 3rem;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}
.testimonials #testimonialList .testimonial-card .testimonial-text {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: lighter;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.testimonials #testimonialList .testimonial-card .testimonial-writer {
  font-weight: bold;
  color: #0075c5;
}
.testimonials #testimonialList .testimonial-card .testimonial-writer .name {
  display: block;
}
.testimonials .testimonial-selectors {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.testimonials .testimonial-selectors button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  padding: 0;
  margin-right: 2px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.testimonials .testimonial-selectors button.active {
  background: #fff;
  border: 1px solid #fff;
}

.cta {
  padding: 10rem 0 15rem;
  background: #fff;
  box-shadow: 0px 0px 5px 10px #0075c5;
}
@media (max-width: 1199px) {
  .cta {
    padding: 7rem 0 12rem;
  }
}
@media (max-width: 991px) {
  .cta {
    padding: 7rem 0;
  }
}
.cta .cta-promotion {
  color: #fff;
  background: linear-gradient(#02bde8, #0075c5);
  padding: 3rem;
  border-radius: 10px;
  width: 50%;
  position: relative;
  z-index: 2;
}
@media (max-width: 1199px) {
  .cta .cta-promotion {
    width: 60%;
  }
}
@media (max-width: 991px) {
  .cta .cta-promotion {
    width: 100%;
  }
}
.cta .cta-promotion h2 {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: lighter;
  font-size: 3.5rem;
}
.cta .cta-promotion p {
  font-weight: bold;
  margin: 20px 0;
}
.cta .cta-promotion p:last-of-type {
  font-weight: 100;
}
.cta .cta-promotion .btn-pill {
  padding-left: 2rem;
  padding-right: 2rem;
}
.cta .cta-information {
  position: relative;
}
.cta .cta-information .cta-img {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 20%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0 #ccc;
}
@media (max-width: 991px) {
  .cta .cta-information .cta-img {
    position: static;
    max-width: 100%;
    margin-top: 20px;
  }
}

footer {
  background: linear-gradient(#0075c5, #02bde8);
  padding: 7rem 0 2rem;
  color: #fff;
}
footer .footer-info {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  display: flex;
}
@media (max-width: 991px) {
  footer .footer-info {
    flex-wrap: wrap;
  }
}
footer .footer-info .brand-info {
  margin-right: 50px;
}
@media (max-width: 991px) {
  footer .footer-info .brand-info {
    margin-right: 0;
    width: 50%;
  }
}
footer .footer-info .brand-info .brand-logo {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
footer .footer-info .brand-info .brand-description {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: lighter;
  line-height: 1;
  margin-top: 20px;
}
@media (max-width: 991px) {
  footer .footer-info .brand-info .brand-description {
    font-size: 1rem;
  }
}
footer .footer-info .brand-info .brand-description .email {
  margin-top: 5px;
}
footer .footer-info .footer-links {
  margin-right: auto;
}
@media (max-width: 991px) {
  footer .footer-info .footer-links {
    padding-left: 10%;
    width: 40%;
    margin-right: 0;
  }
}
footer .footer-info .footer-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  line-height: 1;
}
footer .footer-info .footer-links ul li {
  font-weight: 200;
  margin-bottom: 5px;
}
@media (max-width: 991px) {
  footer .footer-info .footer-socials {
    margin-top: 20px;
  }
}
footer .footer-info .footer-socials .social {
  margin-bottom: 7px;
}
footer .footer-info .footer-socials .social .logo svg {
  height: 23px;
  width: 23px;
}
footer .footer-info .footer-socials .social .logo svg path {
  fill: #fff;
}
footer .footer-info .footer-socials .social .name {
  text-transform: uppercase;
  font-weight: 500;
}
footer .footer-additional-info {
  width: 100%;
  display: flex;
  font-size: 0.8rem;
  margin-top: 10px;
  color: #fff;
}
@media (max-width: 575px) {
  footer .footer-additional-info {
    flex-wrap: wrap;
  }
}
footer .footer-additional-info .site-info {
  color: #fff;
  margin-right: auto;
}
@media (max-width: 575px) {
  footer .footer-additional-info .site-info {
    margin-bottom: 20px;
  }
}
footer .footer-form {
  background: #fff;
  color: #000;
  width: 60%;
  margin: 0 auto 7rem;
  padding: 4rem;
  border-radius: 20px;
}
@media (max-width: 1199px) {
  footer .footer-form {
    width: 80%;
  }
}
@media (max-width: 991px) {
  footer .footer-form {
    width: 100%;
    padding: 2rem;
  }
}
footer .footer-form h2 {
  font-size: 2.5rem;
  color: #0075c5;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  footer .footer-form h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }
}
footer .footer-form p {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: lighter;
  font-size: 1.2rem;
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  footer .footer-form p {
    font-size: 1rem;
    width: 80%;
  }
}
footer .footer-form .row {
  width: 80%;
  margin: auto;
}
@media (max-width: 991px) {
  footer .footer-form .row {
    width: 100%;
  }
}
footer .footer-form .row > div {
  margin-bottom: 25px;
}
footer .footer-form label {
  margin-bottom: 10px;
}
footer .footer-form .btn-primary {
  background: #02bde8;
  border: 1px solid #02bde8;
}
footer .footer-form .required {
  position: relative;
}
footer .footer-form .required:after {
  content: "*";
  color: red;
}

.bg-gradient-down {
  background: linear-gradient(#02bde8, #0075c5);
  overflow: hidden;
}

.btn-pill {
  border-radius: 20px;
}

.btn-light {
  color: #0075c5;
}
.btn-light:hover {
  color: #0075c5;
}

.btn-outline-light:hover {
  color: #0075c5;
}

.header {
  position: relative;
}
.header nav {
  z-index: 3;
}
.header nav .navbar-brand {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header nav .nav-item {
    font-size: 0.8rem;
  }
}
.header nav .nav-item + .nav-item {
  margin-left: 2rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header nav .nav-item + .nav-item {
    margin-left: 0.5rem;
  }
}
@media (max-width: 991px) {
  .header nav .nav-item + .nav-item {
    margin-left: 0;
  }
}
.header nav .nav-link {
  color: #fff;
}
.header nav .btn-search {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  margin-left: 5px;
}
.header nav .btn-search svg {
  height: 30px;
  width: 30px;
}
.header nav .btn-search svg path {
  fill: #fff;
}
@media (max-width: 991px) {
  .header nav.show-navbar-collapse .navbar-collapse {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    padding: 20px 13%;
    background-color: #0075c5;
  }
}
@media (max-width: 575px) {
  .header nav.show-navbar-collapse .navbar-collapse {
    padding: 20px 5%;
  }
}
.header .header-info {
  padding-top: 8rem;
  padding-bottom: 10rem;
  z-index: 2;
  position: relative;
  width: 50%;
  color: #fff;
}
.header .header-info h1 {
  font-size: 3.5rem;
  font-weight: 400;
}
@media (max-width: 767px) {
  .header .header-info h1 {
    font-size: 2.5rem;
  }
}
.header .header-info .subheader {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: lighter;
}
@media (max-width: 767px) {
  .header .header-info .subheader {
    font-size: 1.2rem;
  }
}
.header .header-info .header-testimonial {
  margin-top: 50px;
  width: 70%;
}
.header .header-info .header-testimonial p {
  font-weight: bold;
}
.header .header-info .header-testimonial .testimonial-info {
  margin-top: 40px;
  margin-left: 70px;
  position: relative;
}
.header .header-info .header-testimonial .testimonial-info::before {
  content: "JS";
  background: #fff;
  color: #02bde8;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 50%;
  position: absolute;
  left: -70px;
  top: 0;
}
.header .header-info .header-testimonial .testimonial-info span {
  display: block;
}
.header .header-info .header-testimonial .testimonial-info .name {
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .header .header-info {
    width: 70%;
  }
}
@media (max-width: 575px) {
  .header .header-info {
    width: 85%;
  }
}
.header .header-img {
  overflow: hidden;
  -webkit-clip-path: polygon(75% 0, 25% 0, 50% 100%);
          clip-path: polygon(75% 0, 25% 0, 50% 100%);
  position: absolute;
  right: -35rem;
  top: 0;
  z-index: 1;
}
@media (max-width: 767px) {
  .header .header-img {
    right: -45rem;
  }
}
@media (max-width: 575px) {
  .header .header-img {
    right: -35rem;
  }
}/*# sourceMappingURL=main.css.map */