.products {
  padding: 15rem 0 10rem 0;
  color: #fff;
}
.products .product {
  margin-bottom: 20px;
}
.products .product-img img {
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #222;
}
.products .product-title {
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  position: relative;
}
.products .product-title.first::before {
  content: "";
  background: #fff;
  width: 20px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 15px;
  -webkit-clip-path: polygon(100% 0, 0% 0, 50% 100%);
          clip-path: polygon(100% 0, 0% 0, 50% 100%);
}
.products .product-title.first::after {
  content: "";
  background: #fff;
  width: 20px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 55px;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
          clip-path: polygon(50% 0, 0 100%, 100% 100%);
}
.products .product-title.second::before {
  content: "";
  background: #fff;
  width: 30px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: 20px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
          clip-path: polygon(0 0, 0 100%, 100% 50%);
}
.products .product-title.second::after {
  content: "";
  background: #fff;
  width: 30px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: 50px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
          clip-path: polygon(0 0, 0 100%, 100% 50%);
}
.products .product-title.third::before {
  content: "";
  background: #fff;
  width: 20px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 35px;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
          clip-path: polygon(50% 0, 0 100%, 100% 100%);
}
.products .product-title.third::after {
  content: "";
  background: #fff;
  width: 20px;
  height: 30px;
  position: absolute;
  left: 25px;
  top: 35px;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
          clip-path: polygon(50% 0, 0 100%, 100% 100%);
}
.products .product-description {
  font-size: 1.5rem;
  font-weight: lighter;
}
.products .product-cta {
  margin-top: 50px;
}
.products .product-cta .btn {
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 10px;
}

.bg-gradient-down {
  background: linear-gradient(#02bde8, #0075c5);
  overflow: hidden;
}

.btn-pill {
  border-radius: 20px;
}

.btn-light {
  color: #0075c5;
}

.header {
  position: relative;
}
.header nav {
  z-index: 2;
}
.header .header-info {
  padding-top: 8rem;
  padding-bottom: 10rem;
  z-index: 2;
  position: relative;
  width: 50%;
  color: #fff;
}
.header .header-info h1 {
  font-size: 3.5rem;
  font-weight: 400;
}
.header .header-info .subheader {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: lighter;
}
.header .header-info .header-testimonial {
  margin-top: 50px;
  width: 70%;
}
.header .header-info .header-testimonial p {
  font-weight: bold;
}
.header .header-info .header-testimonial .testimonial-info {
  margin-top: 40px;
  margin-left: 70px;
  position: relative;
}
.header .header-info .header-testimonial .testimonial-info::before {
  content: "JS";
  background: #fff;
  color: #02bde8;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 50%;
  position: absolute;
  left: -70px;
  top: 0;
}
.header .header-info .header-testimonial .testimonial-info span {
  display: block;
}
.header .header-info .header-testimonial .testimonial-info .name {
  text-transform: uppercase;
}
.header .header-img {
  overflow: hidden;
  -webkit-clip-path: polygon(75% 0, 25% 0, 50% 100%);
          clip-path: polygon(75% 0, 25% 0, 50% 100%);
  position: absolute;
  right: -35rem;
  top: 0;
  z-index: 1;
}/*# sourceMappingURL=main.css.map */